#border{
  width: 100%;
  height: 25px;
  color: #173671;
  background-color: #fff;
  background-image: url(/images/MainMenu.gif);
  position: relative;
  top: 5px;
}

table{
  border-collapse: collapse;
}

table, th, td{
  border: 1px solid black;
}

a:visited{
  color: #0055f2;
}
ul{
  margin-top: 0;
}
#border{
  color: white;
}
#border ul{
  list-style-type: none;
}

#border ul li{
  list-style-type: none;
  font-weight: bold;
  text-indent: 0;
  line-height: 25px;
  margin: 0 5px;
  display: inline;
  padding: 0;
  position: relative;
  text-indent: 0;
}

#border a{
  text-decoration: none;
}

#border a:link{
  color: white;
}

#border a:visited{
  color: white;
}

#content{
  margin-top: 20px;
}
#header{
  font-size: 9pt;
  margin-top: 50px;
  margin-right: 10px;
  text-align: right;
}
#spacer{
  visibility: hidden;
  margin-left: 10px;
  margin-right: 10px;
}
