<a href="/transactions/shipping/new">Create new shipping transaction</a>
<br>
<br>
<label>View an open shipment</label>
<ul>
  <% @current_user.clients.each do |client| %>
    <li><%= client.name %>
      <ul>
        <% client.transactions.each do |transaction| %>
          <% if transaction.transaction_type == "shipping" && transaction.status == "open" %>
            <li><a href="/transactions/shipping/<%= transaction.id %>"><%= transaction.reference %></a></li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
