<a href="/transactions/shipping/new">Create new shipping transaction</a>
<br>
<br>
<label>View an open shipment</label>
<ul>
  <% @current_user.clients.each do |client| %>
    <li><%= client.name %>
      <ul>
        <% client.transactions.each do |transaction| %>
          <li><a href="/transcations/<%= transaction.id %>/edit"><%= transaction.reference %></a></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
