<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Title</title>
  </head>
  <body>
    <div id="header">
      <span class="name">User:</span>
      <% if logged_in? %>
        <%= current_user.username %>
        <a href="/logout">logout</a>
      <% else %>
        <span>not logged in</span>
      <% end %>
    </div>
    <div id="border">
      <% if logged_in? %>
        <ul>
          <li><a href="../../../transactions/shipping" class="border_items">Shipping</a></li>
          <li><a href="../../../transactions/receiving" class="border_items">Receiving</a></li>
          <li><a href="../../../products" class="border_items">Products</a></li>
          <li><a href="../../../clients" class="border_items">Clients</a></li>
          <li><a href="../../../homepage" class="border_items">Home Page</a></li>
        </ul>
      <% end %>
    </div>
    <div id="content">
      <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
          <%= flash[type] %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
