<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Title</title>
  </head>
  <body>
    <div id="header">
      <span class="name">User:</span>
      <% if logged_in? %>
        <%= current_user.username %>
      <% else %>
        <span>not logged in</span>
      <% end %>
      <span id="spacer">.</span><span class="name">Customer:</span>
      <% if logged_in? && !!current_client %>
        <%= current_client.name %>
      <% else %>
        <span>none</span>
      <% end %>
    </div>
    <div id="border"></div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
