<form action="/transactions/receiving" method="post">
  <label>Select a client for this receiving</label>
  <select name="client_id" selected="">
    <option></option>
    <% @current_user.clients.each do |client| %>
      <option value="<%= client.id %>"><%= client.name %></option>
    <% end %>
  </select>
  <br>
  <label>Transaction Reference:</label>
  <input type="text" name="transaction_reference">
  <br>
  <label>Transaction Date:</label>
  <input type="date" name="transaction_date">
  <br>
  <input type="submit" value="Create Receiving">
</form>
